{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:09:05.774125+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:09:05.787508+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/services",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "[{\"domain\":\"homeassistant\",\"services\":{\"save_persistent_states\":{\"fields\":{}},\"turn_off\":{\"fields\":{},\"target\":{}},\"turn_on\":{\"fields\":{},\"target\":{}},\"toggle\":{\"fields\":{},\"target\":{}},\"stop\":{\"fields\":{}},\"restart\":{\"fields\":{}},\"check_config\":{\"fields\":{}},\"update_entity\":{\"fields\":{\"entity_id\":{\"required\":true,\"selector\":{\"entity\":{\"multiple\":true,\"reorder\":false}}}}},\"reload_core_config\":{\"fields\":{}},\"set_location\":{\"fields\":{\"latitude\":{\"required\":true,\"example\":32.87336,\"selector\":{\"number\":{\"mode\":\"box\",\"min\":-90.0,\"max\":90.0,\"step\":\"any\"}}},\"longitude\":{\"required\":true,\"example\":117.22743,\"selector\":{\"number\":{\"mode\":\"box\",\"min\":-180.0,\"max\":180.0,\"step\":\"any\"}}},\"elevation\":{\"required\":false,\"example\":120,\"selector\":{\"number\":{\"mode\":\"box\",\"step\":\"any\"}}}}},\"reload_custom_templates\":{\"fields\":{}},\"reload_config_entry\":{\"fields\":{\"entry_id\":{\"advanced\":true,\"required\":false,\"example\":\"8955375327824e14ba89e4b29cc3ec9a\",\"selector\":{\"config_entry\":{}}}},\"target\":{}},\"reload_all\":{\"fields\":{}}}},{\"domain\":\"persistent_notification\",\"services\":{\"create\":{\"fields\":{\"message\":{\"required\":true,\"example\":\"Please check your configuration.yaml.\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"title\":{\"example\":\"Test notification\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"notification_id\":{\"example\":1234,\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}}}},\"dismiss\":{\"fields\":{\"notification_id\":{\"required\":true,\"example\":1234,\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}}}},\"dismiss_all\":{\"fields\":{}}}},{\"domain\":\"system_log\",\"services\":{\"clear\":{\"fields\":{}},\"write\":{\"fields\":{\"message\":{\"required\":true,\"example\":\"Something went wrong\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"level\":{\"default\":\"error\",\"selector\":{\"select\":{\"options\":[\"debug\",\"info\",\"warning\",\"error\",\"critical\"],\"translation_key\":\"level\",\"multiple\":false,\"sort\":false,\"custom_value\":false}}},\"logger\":{\"example\":\"mycomponent.myplatform\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}}}}}},{\"domain\":\"logger\",\"services\":{\"set_default_level\":{\"fields\":{\"level\":{\"selector\":{\"select\":{\"options\":[\"debug\",\"info\",\"warning\",\"error\",\"fatal\",\"critical\"],\"translation_key\":\"level\",\"multiple\":false,\"sort\":false,\"custom_value\":false}}}}},\"set_level\":{\"fields\":{}}}},{\"domain\":\"frontend\",\"services\":{\"set_theme\":{\"fields\":{\"name\":{\"required\":false,\"example\":\"default\",\"selector\":{\"theme\":{\"include_default\":true}}},\"name_dark\":{\"required\":false,\"example\":\"default\",\"selector\":{\"theme\":{\"include_default\":true}}}}},\"reload_themes\":{\"fields\":{}}}},{\"domain\":\"recorder\",\"services\":{\"purge\":{\"fields\":{\"keep_days\":{\"selector\":{\"number\":{\"min\":0.0,\"max\":365.0,\"unit_of_measurement\":\"days\",\"step\":1.0,\"mode\":\"slider\"}}},\"repack\":{\"default\":false,\"selector\":{\"boolean\":{}}},\"apply_filter\":{\"default\":false,\"selector\":{\"boolean\":{}}}}},\"purge_entities\":{\"fields\":{\"entity_id\":{\"required\":false,\"selector\":{\"entity\":{\"multiple\":true,\"reorder\":false}}},\"domains\":{\"example\":\"sun\",\"required\":false,\"selector\":{\"object\":{\"multiple\":false}}},\"entity_globs\":{\"example\":\"domain*.object_id*\",\"required\":false,\"selector\":{\"object\":{\"multiple\":false}}},\"keep_days\":{\"default\":0,\"selector\":{\"number\":{\"min\":0.0,\"max\":365.0,\"unit_of_measurement\":\"days\",\"step\":1.0,\"mode\":\"slider\"}}}}},\"enable\":{\"fields\":{}},\"disable\":{\"fields\":{}},\"get_statistics\":{\"fields\":{\"start_time\":{\"required\":true,\"example\":\"2025-01-01 00:00:00\",\"selector\":{\"datetime\":{}}},\"end_time\":{\"required\":false,\"example\":\"2025-01-02 00:00:00\",\"selector\":{\"datetime\":{}}},\"statistic_ids\":{\"required\":true,\"example\":[\"sensor.energy_consumption\",\"sensor.temperature\"],\"selector\":{\"statistic\":{\"multiple\":true}}},\"period\":{\"required\":true,\"example\":\"hour\",\"selector\":{\"select\":{\"options\":[\"5minute\",\"hour\",\"day\",\"week\",\"month\"],\"multiple\":false,\"sort\":false,\"custom_value\":false}}},\"types\":{\"required\":true,\"example\":[\"mean\",\"sum\"],\"selector\":{\"select\":{\"options\":[\"change\",\"last_reset\",\"max\",\"mean\",\"min\",\"state\",\"sum\"],\"multiple\":true,\"sort\":false,\"custom_value\":false}}},\"units\":{\"required\":false,\"example\":{\"energy\":\"kWh\",\"temperature\":\"°C\"},\"selector\":{\"object\":{\"multiple\":false}}}},\"response\":{\"optional\":false}}}},{\"domain\":\"backup\",\"services\":{\"create\":{\"fields\":{}},\"create_automatic\":{\"fields\":{}}}},{\"domain\":\"ffmpeg\",\"services\":{\"start\":{\"fields\":{\"entity_id\":{\"selector\":{\"entity\":{\"integration\":\"ffmpeg\",\"domain\":[\"binary_sensor\"],\"reorder\":false,\"multiple\":false}}}}},\"stop\":{\"fields\":{\"entity_id\":{\"selector\":{\"entity\":{\"integration\":\"ffmpeg\",\"domain\":[\"binary_sensor\"],\"reorder\":false,\"multiple\":false}}}}},\"restart\":{\"fields\":{\"entity_id\":{\"selector\":{\"entity\":{\"integration\":\"ffmpeg\",\"domain\":[\"binary_sensor\"],\"reorder\":false,\"multiple\":false}}}}}}},{\"domain\":\"conversation\",\"services\":{\"process\":{\"fields\":{\"text\":{\"example\":\"Turn all lights on\",\"required\":true,\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"language\":{\"example\":\"NL\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"agent_id\":{\"example\":\"homeassistant\",\"selector\":{\"conversation_agent\":{}}},\"conversation_id\":{\"example\":\"my_conversation_1\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}}},\"response\":{\"optional\":true}},\"reload\":{\"fields\":{\"language\":{\"example\":\"NL\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"agent_id\":{\"example\":\"homeassistant\",\"selector\":{\"conversation_agent\":{}}}}}}},{\"domain\":\"tts\",\"services\":{\"speak\":{\"fields\":{\"media_player_entity_id\":{\"required\":true,\"selector\":{\"entity\":{\"domain\":[\"media_player\"],\"reorder\":false,\"multiple\":false}}},\"message\":{\"example\":\"My name is hanna\",\"required\":true,\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"cache\":{\"default\":true,\"selector\":{\"boolean\":{}}},\"language\":{\"example\":\"ru\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"options\":{\"advanced\":true,\"example\":\"platform specific\",\"selector\":{\"object\":{\"multiple\":false}}}},\"target\":{\"entity\":[{\"domain\":[\"tts\"]}]}},\"clear_cache\":{\"fields\":{}},\"google_translate_say\":{\"name\":\"Say a TTS message with google_translate\",\"description\":\"Say something using text-to-speech on a media player with google_translate.\",\"fields\":{\"entity_id\":{\"required\":true,\"selector\":{\"entity\":{\"domain\":\"media_player\"}}},\"message\":{\"example\":\"My name is hanna\",\"required\":true,\"selector\":{\"text\":null}},\"cache\":{\"default\":false,\"selector\":{\"boolean\":null}},\"language\":{\"example\":\"ru\",\"selector\":{\"text\":null}},\"options\":{\"advanced\":true,\"example\":\"platform specific\",\"selector\":{\"object\":null}}}},\"cloud_say\":{\"name\":\"Say a TTS message with cloud\",\"description\":\"Say something using text-to-speech on a media player with cloud.\",\"fields\":{\"entity_id\":{\"required\":true,\"selector\":{\"entity\":{\"domain\":\"media_player\"}}},\"message\":{\"example\":\"My name is hanna\",\"required\":true,\"selector\":{\"text\":null}},\"cache\":{\"default\":false,\"selector\":{\"boolean\":null}},\"language\":{\"example\":\"ru\",\"selector\":{\"text\":null}},\"options\":{\"advanced\":true,\"example\":\"platform specific\",\"selector\":{\"object\":null}}}}}},{\"domain\":\"cloud\",\"services\":{\"remote_connect\":{\"fields\":{}},\"remote_disconnect\":{\"fields\":{}}}},{\"domain\":\"anomaly\",\"services\":{\"reload\":{\"fields\":{},\"description\":\"Reload all anomaly entities.\"}}},{\"domain\":\"group\",\"services\":{\"reload\":{\"fields\":{}},\"set\":{\"fields\":{\"object_id\":{\"required\":true,\"example\":\"test_group\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"name\":{\"example\":\"My test group\",\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"icon\":{\"example\":\"mdi:camera\",\"selector\":{\"icon\":{}}},\"entities\":{\"example\":\"domain.entity_id1, domain.entity_id2\",\"selector\":{\"entity\":{\"multiple\":true,\"reorder\":false}}},\"add_entities\":{\"example\":\"domain.entity_id1, domain.entity_id2\",\"selector\":{\"entity\":{\"multiple\":true,\"reorder\":false}}},\"remove_entities\":{\"example\":\"domain.entity_id1, domain.entity_id2\",\"selector\":{\"entity\":{\"multiple\":true,\"reorder\":false}}},\"all\":{\"selector\":{\"boolean\":{}}}}},\"remove\":{\"fields\":{\"object_id\":{\"required\":true,\"example\":\"test_group\",\"selector\":{\"object\":{\"multiple\":false}}}}}}},{\"domain\":\"light\",\"services\":{\"turn_on\":{\"fields\":{\"transition\":{\"filter\":{\"supported_features\":[32]},\"selector\":{\"number\":{\"min\":0.0,\"max\":300.0,\"unit_of_measurement\":\"seconds\",\"step\":1.0,\"mode\":\"slider\"}}},\"rgb_color\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"example\":\"[255, 100, 100]\",\"selector\":{\"color_rgb\":{}}},\"color_temp_kelvin\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"color_temp\",\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"selector\":{\"color_temp\":{\"unit\":\"kelvin\",\"min\":2000,\"max\":6500}}},\"brightness_pct\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"brightness\",\"color_temp\",\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"selector\":{\"number\":{\"min\":0.0,\"max\":100.0,\"unit_of_measurement\":\"%\",\"step\":1.0,\"mode\":\"slider\"}}},\"brightness_step_pct\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"brightness\",\"color_temp\",\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"selector\":{\"number\":{\"min\":-100.0,\"max\":100.0,\"unit_of_measurement\":\"%\",\"step\":1.0,\"mode\":\"slider\"}}},\"effect\":{\"filter\":{\"supported_features\":[4]},\"selector\":{\"text\":{\"multiline\":false,\"multiple\":false}}},\"advanced_fields\":{\"collapsed\":true,\"fields\":{\"rgbw_color\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"example\":\"[255, 100, 100, 50]\",\"selector\":{\"object\":{\"multiple\":false}}},\"rgbww_color\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"example\":\"[255, 100, 100, 50, 70]\",\"selector\":{\"object\":{\"multiple\":false}}},\"color_name\":{\"filter\":{\"attribute\":{\"supported_color_modes\":[\"hs\",\"xy\",\"rgb\",\"rgbw\",\"rgbww\"]}},\"selector\":{\"select\":{\"translation_key\":\"color_name\",\"options\":[\"homeassistant\",\"aliceblue\",\"antiquewhite\",\"aqua\",\"aquamarine\",\"azure\",\"beige\",\"bisque\",\"blanchedalmond\",\"blue\",\"blueviolet\",\"brown\",\"burlywood\",\"cadetblue\",\"chartreuse\",\"chocolate\",\"coral\",\"cornflowerblue\",\"cornsilk\",\"crimson\",\"cyan\",\"darkblue\",\"darkcyan\",\"darkgoldenrod\",\"dark[...]
