{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:09:04.536475+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:09:04.546618+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/states/sun.red_sun",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"entity_id\":\"sun.red_sun\",\"state\":\"beyond_our_solar_system\",\"attributes\":{},\"last_changed\":\"2026-04-13T08:08:58.618002+00:00\",\"last_reported\":\"2026-04-13T08:08:58.618002+00:00\",\"last_updated\":\"2026-04-13T08:08:58.618002+00:00\",\"context\":{\"id\":\"01KP2Y5YZS5M77V83CMRSFA6BM\",\"parent_id\":null,\"user_id\":\"fe6db64d1b1f4854b103f7bde5a10214\"}}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/states/sun.red_sun"
      },
      "recorded_at": "2026-04-13T08:09:04.554936+00:00"
    },
    {
      "request": {
        "method": "POST",
        "uri": "https://ha.krkn.cc/api/states/sun.red_sun",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ],
          "location": [
            "/api/states/sun.red_sun"
          ]
        },
        "body": {
          "string": "{\"entity_id\":\"sun.red_sun\",\"state\":\"In the palm of your hand.\",\"attributes\":{},\"last_changed\":\"2026-04-13T08:09:04.545843+00:00\",\"last_reported\":\"2026-04-13T08:09:04.545843+00:00\",\"last_updated\":\"2026-04-13T08:09:04.545843+00:00\",\"context\":{\"id\":\"01KP2Y64S1BE282QFA6FT259BR\",\"parent_id\":null,\"user_id\":\"fe6db64d1b1f4854b103f7bde5a10214\"}}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/states/sun.red_sun"
      },
      "recorded_at": "2026-04-13T08:09:04.564404+00:00"
    }
  ],
  "websocket_sessions": []
}