{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:08:51.785072+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:08:51.796219+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/logbook/2020-01-01T00:00:00+00:00?entity=sun.red_sun&end_time=2030-01-01T00%3A00%3A00%2B00%3A00",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "[{\"state\":\"In the palm of your hand.\",\"entity_id\":\"sun.red_sun\",\"name\":\"red sun\",\"when\":\"2026-04-13T08:05:19.396864+00:00\",\"context_user_id\":\"fe6db64d1b1f4854b103f7bde5a10214\"},{\"state\":\"In the palm of my hand.\",\"entity_id\":\"sun.red_sun\",\"name\":\"red sun\",\"when\":\"2026-04-13T08:05:19.501928+00:00\",\"context_user_id\":\"fe6db64d1b1f4854b103f7bde5a10214\"}]"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/logbook/2020-01-01T00:00:00+00:00?entity=sun.red_sun&end_time=2030-01-01T00%3A00%3A00%2B00%3A00"
      },
      "recorded_at": "2026-04-13T08:08:51.968668+00:00"
    }
  ],
  "websocket_sessions": []
}