{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:08:59.152846+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:08:59.166771+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/components",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "[\"opensprinkler.number\",\"lifx.light\",\"automation\",\"apsystems_ecur\",\"opensprinkler\",\"select\"[...]
