{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:08:58.783424+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:08:58.793739+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/events",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "[{\"event\":\"*\",\"listener_count\":1},{\"event\":\"logging_changed\",\"listener_count\":17},{\"event\":\"entity_registry_updated\",\"listener_count\":8},{\"event\":\"homeassistant_start\",\"listener_count\":1},{\"event\":\"homeassistant_stop\",\"listener_count\":62},{\"event\":\"core_config_updated\",\"listener_count\":5},{\"event\":\"floor_registry_updated\",\"listener_count\":1},{\"event\":\"label_registry_updated\",\"listener_count\":3},{\"event\":\"homeassistant_started\",\"listener_count\":2},{\"event\":\"device_registry_updated\",\"listener_count\":3},{\"event\":\"category_registry_updated\",\"listener_count\":1},{\"event\":\"labs_updated\",\"listener_count\":7},{\"event\":\"component_loaded\",\"listener_count\":2},{\"event\":\"homeassistant_final_write\",\"listener_count\":4},{\"event\":\"homeassistant_close\",\"listener_count\":22},{\"event\":\"state_changed\",\"listener_count\":4},{\"event\":\"user_removed\",\"listener_count\":2},{\"event\":\"deconz_event\",\"listener_count\":1},{\"event\":\"service_removed\",\"listener_count\":1}]"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/events"
      },
      "recorded_at": "2026-04-13T08:08:58.801923+00:00"
    }
  ],
  "websocket_sessions": []
}