{
  "nimax_version": "0.1.0",
  "http_interactions": [
    {
      "request": {
        "method": "GET",
        "uri": "http://e7.c.lencr.org/108.crl",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/pkix-crl"
          ],
          "x-amz-request-id": [
            "XKCCHX3VKFDK94GA"
          ],
          "Last-Modified": [
            "Mon, 13 Apr 2026 07:55:20 GMT"
          ],
          "etag": [
            "\"bb57d55af27d13aa7a56be8369622ab7\""
          ],
          "x-amz-server-side-encryption": [
            "AES256"
          ],
          "x-amz-meta-crlnumber": [
            "1776066919003521495"
          ],
          "x-amz-version-id": [
            "wIy0xsspoUmWf3OjX0FYOji9k9lpAPer"
          ]
        },
        "body": null,
        "protocol": null,
        "url": "http://e7.c.lencr.org/108.crl"
      },
      "recorded_at": "2026-04-13T08:08:52.444904+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"message\":\"API running.\"}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/"
      },
      "recorded_at": "2026-04-13T08:08:52.456079+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/states/sun.sun",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
          "string": "{\"entity_id\":\"sun.sun\",\"state\":\"below_horizon\",\"attributes\":{\"next_dawn\":\"2026-04-13T12:59:35.804343+00:00\",\"next_dusk\":\"2026-04-14T03:27:06.838161+00:00\",\"next_midnight\":\"2026-04-13T08:12:52+00:00\",\"next_noon\":\"2026-04-13T20:13:04+00:00\",\"next_rising\":\"2026-04-13T13:30:48.092359+00:00\",\"next_setting\":\"2026-04-14T02:55:46.718486+00:00\",\"elevation\":-35.59,\"azimuth\":356.68,\"rising\":false,\"friendly_name\":\"Sun\"},\"last_changed\":\"2026-04-13T02:58:29.987568+00:00\",\"last_reported\":\"2026-04-13T08:05:00.088108+00:00\",\"last_updated\":\"2026-04-13T08:02:04.566188+00:00\",\"context\":{\"id\":\"01KP2XSAMP9YPD6GA78ZCJDCN9\",\"parent_id\":null,\"user_id\":null}}"
        },
        "protocol": null,
        "url": "https://ha.krkn.cc/api/states/sun.sun"
      },
      "recorded_at": "2026-04-13T08:08:52.464203+00:00"
    },
    {
      "request": {
        "method": "GET",
        "uri": "https://ha.krkn.cc/api/history/period/2020-01-01T00:00:00+00:00?filter_entity_id=sun.sun&end_time=2030-01-01T00%3A00%3A01%2B00%3A00&significant_changes_only",
        "headers": {},
        "body": null
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "content-type": [
            "application/json"
          ]
        },
        "body": {
 [...]
